<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="third-party.css">
    <link rel="manifest" href="manifest.json">
    <script type="application/javascript" src="third-party.js"></script>
    <script src="app.js"></script>
    <script src="//localhost:35729/livereload.js"></script>
</head>
<body ng-app="methodPrompterApp">
<div class="container" ng-controller="mainCtrl as mainCtrl">

    <div class="card">
        <div class="card-header">Methods</div>

        <div class="card-block">
            <div class="form-inline">

                <div class="input-group">
                    <label class="mr-sm-2" for="method-name">Method Name</label>
                    <input id="method-name" type="text" ng-model="mainCtrl.newMethod" class="form-control mr-sm-2"/>
                </div>
                <div class="input-group">
                    <label class="mr-sm-2" for="method-stage">Stage</label>
                    <select ng-model="mainCtrl.stage"
                            ng-options="key as value for (key, value) in mainCtrl.stages"
                            id="method-stage"
                            class="form-control mr-sm-2">
                    </select>
                </div>

                <button class="btn btn-primary" ng-click="mainCtrl.addMethod()">Add</button>
            </div>
        </div>
        <div class="card-block text-center">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="method in mainCtrl.getMethods()">
                    {{ method.name }} {{ mainCtrl.stages[method.numPlaceBells + 1]}}
                </li>
            </ul>
        </div>
    </div>

</div>

<script>
  if('serviceWorker' in navigator) {
    navigator.serviceWorker
    .register('sw.js')
    .then(function() { console.log("Service Worker Registered"); });
  }
</script>

</body>
</html>